# Exclude dependencies and unnecessary files
node_modules/
.git/
android/.gradle/
android/.idea/
android/app/build/
ios/Pods/
ios/build/
ios/.DS_Store

# Exclude local Expo and IDE files
.expo/
.vscode/
.idea/
*.log

# Exclude unnecessary assets
assets/videos/
assets/videos/en/
assets/videos/fr/
*.mp4
*.mov
*.zip
*.rar
*.psd
*.ai
*.eps
*.svg  
assets/audio/CAPSULE map.mp3
*.mp3
